build --compilation_mode=opt
build --copt="-Werror=return-type"
build --cxxopt=-std=c++17

coverage --combined_report=lcov
coverage --compilation_mode=opt
coverage --copt="-Werror=return-type"
coverage --cxxopt=-std=c++17
coverage --instrument_test_targets

test --compilation_mode=opt
test --copt="-Werror=return-type"
test --cxxopt=-std=c++17
test --test_output=errors

# Run linter only, not unit tests
# Usage: bazel test --config lint //...
test:lint --build_tests_only
test:lint --test_tag_filters=lint
